

.centerbox {
  height: 400px;
  width: 960px;
  background-color: #ffffff;
  border: #dddddd;
  margin: auto;
  padding-top: 30px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header { 
    background: #ffffff;
    margin-top:-10px;
    width:100%;
    margin-left:-10px;
    margin-right:10px;
    border-bottom: #cccccc solid 10px;
  padding-right:20px;

}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 0px 0;
}

.profilepicture {
    padding: 0px 20px 0px 25px;
    vertical-align: middle;
}

nav {
    float: right;
  
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    border-left:1px solid #efefef;


}

nav ul > li > a {
    color: #777777;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav ul > li > a:hover {
    color: #000000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #777777;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 7%;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#666666;
    border-top: #4aaaa5 solid 10px;
 }